name: Job Watcher

on:
  push:
    branches: [ "main" ]
  #schedule:
   # - cron: "*/5 * * * *"
  workflow_dispatch:      # manuálisan is futtatható

jobs:
  run-watcher:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run watcher
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          SMTP_HOST: ${{ secrets.SMTP_HOST }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
          BACKEND_URL: ${{ secrets.BACKEND_URL }}
        run: |
          python -c "import os; u=os.getenv('DATABASE_URL',''); print('len', len(u), 'prefix', u.split('://')[0] if '://' in u else 'NO_SCHEME')"
          python main.py
